# ignore IntelliJ project files the are not user specific
/*.iml
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/misc.xml
/.idea/ClojureProjectResolveSettings.xml
/.idea/artifacts
/.idea/libraries
/.idea/shelf
dataSources.ids
datasources.xml

.kotlin

!buildSrc
.gradle
**/build/
.kotlintest
/tmp
**/tmp

# credential
publishing.gradle.properties
