# ignore IntelliJ project files the are not user specific
/*.iml
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/misc.xml
/.idea/ClojureProjectResolveSettings.xml
/.idea/artifacts
dataSources.ids
datasources.xml

!buildSrc
.gradle
**/build/
.kotlintest
/tmp
**/tmp
